@import "bourbon";
@import "neat";

$base-white: #FEFEFE;
$base-black: #333;
$base-gray: #DDD;
$base-color: #98050C;
$base-light-color: #D43D45;
$base-dark-color: #4B0004;
$second-color: #9B4605;
$second-light-color: #D8813E;
$second-dark-color: #4C2100;
$third-color: #035F58;
$third-light-color: #26857E;
$third-dark-color: #002F2B;
$accent-color: #107F04;
$accent-light-color: #3FB133;
$accent-dark-color: #063E00;

* {
    margin: 0;
    padding: 0;
    font-family: Avenir, 'Helvetica neue', Helvetica, '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

body {
    width: 100%;
}

.content {
    @include outer-container(100%);
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    border: 1px solid #ddd;
    font-size: medium;
    height: 30px;
    line-height: 30px;
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);

    &:focus {
        outline: none;
    }
}

select {
    @include appearance(none);
    overflow: hidden;
    margin: 0;
    padding: 5px 10px;
    border:1px solid $base-gray;
    min-width: 100px;

    &:hover {
        background-color: $base-gray;
        color: $base-white;
    }

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $base-black;
}

.base-button {
    margin: 0;
    font-size: medium;
    height: 30px;
    line-height: 30px;
    border: 1px solid $base-gray;
    background-color: $base-white;
    color: $base-gray;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);

    &:hover {
        background-color: $base-gray;
        color: $base-white;
    }
}

.search-button {
    @extend .base-button;
    color: $accent-color;
    border-color: $accent-color;

    &:hover {
        background-color: $accent-color;
    }
}

.tab {
    display: inline-block;
    padding: 5px 10px;
    min-width: 100px;
    text-align: center;
    font-size: small;

    &:hover {
        background-color: $base-gray;
        color: $base-white;
        cursor: default;
    }
}

.tab--active {
    @extend .tab;
    border-left: 1px solid $base-gray;
    border-top: 1px solid $base-gray;
    border-right: 1px solid $base-gray;
    @include border-top-radius(5px);

    &:hover {
        background-color: $base-white;
        color: $base-black;
    }
}
