@import 'common';
@import 'header';

.search-box {
    @include span-columns(8);
    @include shift(2);
}

.search-box__row {
    @include fill-parent();
    @include row();
    margin-top: 20px;
}

.search-box__tabs {
    @include span-columns(8);
}

.search-box__tab {
    @extend .tab;
}

.search-box__tab--active {
    @extend .tab--active;
}

.search-box__selects {
    @include span-columns(4);
    text-align: right;
}

.search-box__select {
    margin-left: 10px;
}

.search-box__keyword {
    @include span-columns(4);
    @include shift(6);
}

.search-box__search-button {
    @include span-columns(2);
    @extend .search-button;
}